* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  background-image: "https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80"
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
    font-size: $large-font-size;
    margin-bottom: $space;
}

p {
  margin-bottom: $space;
}

a {
  color: black;
}

input[type=text], input[type=email], input[type=password] {
  border: 1px solid $input-border;
  font-size: $base-font-size;
  margin-bottom: $space;
  padding: $input-spacing;
}

.uniformsField input {
  border: 1px solid #dddddd;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  padding: 1rem;
}

.uniformsField textarea {
  border: 1px solid #dddddd;
  font-size: 1.4rem;
  margin-bottom: 1.4rem;
  padding: 1rem;
  margin: 0px 0px 15px;
  width: 180px;
  height: 25px;
}
